
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 20px;
}

.main-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.top-indicator {
    width: 120px;
    height: 80px;
    background-color: rgb(147, 151, 151);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: center;   
    gap: 9px;
}

.visual-frame {
    margin: 20px;
    width: 900px;
    height: 500px;
    background-color: rgb(159, 229, 236);
    border-radius: 20px;

    position: relative;
}

.side-indicator {
    position: absolute; 
    top: 20px;
    width: 150px;
    background-color: rgb(236, 242, 242);
    border-radius: 10px;
    padding: 20px 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-indicator.left {
    left: 20px; 
}

.side-indicator.right {
    right: 20px;
}

.buttons {
    border-radius: 30px;
    height: 50px;
    width: 140px;
}

.reset-button {
    background-color: rgb(244, 11, 11);
}
.reset-button:hover {
    background-color: rgb(112, 18, 18);

}
.pause-button {
    background-color: rgb(229, 222, 14);
}
.pause-button:hover {
    background-color: rgb(90, 97, 19);
}



