
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 10px;
    background: linear-gradient(0deg,rgba(42, 123, 155, 1) 0%, rgb(38, 196, 248) 50%, rgb(3, 203, 160) 100%);
}

.main-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* angle and next weight indicator*/
.top-indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.top-indicator {
    width: 100px;
    height: 60px;
    background-color: rgb(226, 231, 231);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: center;   
    gap: 9px;
}

/* visual frame and its content */
.visual-frame {
    margin: 20px;
    width: 860px;
    height: 470px;
    background-color: rgb(159, 229, 236);
    border-radius: 20px;

    position: relative;
}

.side-indicator {
    position: absolute; 
    top: 20px;
    background-color: rgb(236, 242, 242);
    border-radius: 10px;
    padding: 20px 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-indicator.left {
    left: 20px; 
}

.side-indicator.right {
    right: 20px;
}


/* reset and pause buttons */
.buttons {
    border-radius: 30px;
    height: 50px;
    width: 140px;
    margin: 0px 10px;
    border: 1000px;
}

.reset-button {
    background-color: rgb(244, 11, 11);
}
.reset-button:hover {
    background-color: rgb(112, 18, 18);

}
.pause-button {
    background-color: rgb(229, 222, 14);
}
.pause-button:hover {
    background-color: rgb(90, 97, 19);
}


/* log pnel */
.logs-panel {
    margin-top: 20px;
    width: 860px;
    height: 230px;
    background-color: rgb(156, 159, 158);
    border-radius: 20px;

    overflow-y: auto;        
    padding: 10px;             
    box-sizing: border-box;    
}




/* canva part in viual frame */

#seasawCnvs {
    display: block;
    width: 60%;
    height: 100%;
    cursor: pointer;
    margin: auto;

    background-color:blue;
}

